<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Game">

	<sql id="sql_select">
		select game_id, game_name, game_price, game_sale, game_company,
		game_date, game_detail, category_id from game
	</sql>

	<insert id="insert" parameterType="Game">
		insert into
		game(game_id,game_name,game_price,game_company,game_detail,category_id)
		values(seq_game.nextval,#{game_name},#{game_price},#{game_company},#{game_detail},#{category_id})
		<selectKey order="AFTER" resultType="int"
			keyProperty="game_id">
			select seq_game.currval as game_id from dual
		</selectKey>
	</insert>

	<select id="selectAll" resultType="Game">
		<include refid="sql_select" />
		order by game_name desc
	</select>

</mapper>